<!DOCTYPE html>
<html>
  <head>

    <title>Tarragona Wifi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
    <link rel="stylesheet" href="/css/themes/yellow.min.css" />
    <link rel="stylesheet" href="/css/mobile.css" />
    <script src="/js/init.js"></script>
     {% block extrahead %}{% endblock %}

  </head>
  <body>
  <!-- Home -->
  <div data-role="page" id="page1" >
    <div data-theme="a" data-role="header" data-position="fixed">
        <h3>
            Tarragona Wifi
        </h3>
        <img src="/img/logo.png" />
        <div>{% block backbutton %}{% endblock %}
        </div>
        <div class="img_header"></div>
    </div>
    <div data-role="content" style="padding: 15px">
    {% block content %}{% endblock %}	
    </div>
    {% block footer %}
      <div data-role="footer" class="_3buttons"  data-position="fixed">
	<div data-role="controlgroup" data-type="horizontal" data-theme="a" >
	  <a href="/" data-role="button" data-iconpos="top" data-icon="twitter" class="tweet button" target="_blank">Tweet</a>
	  <a href="/" data-role="button" data-iconpos="top" data-icon="facebook" class="fb button" target="_blank">Facebook share</a>
	  <a href="/" data-role="button" data-iconpos="top" data-icon="googleplus" class="googleplus button" target="_blank">Google Plus +1</a>
	</div>
      </div>
     {% endblock %}
  </div> 
    

  </body>
</html>
