{% extends "home.html" %}
{% block extrahead %}{% endblock %}
{% block content %}
    	<ul data-role="listview" data-divider-theme="a" data-inset="true">
            <li data-role="list-divider" role="heading">
                Menú principal
            </li>
		    <li>
			<a href="/hotspot/map" data-transition="slide" data-ajax="false">
				Buscar sobre el mapa
			</a>
		    </li>
		    <li>
			<a href="/hotspot/search/location" data-transition="slide" >
				Buscar una població per nom
			</a>
		    </li>
		    <li>
			<a href="/hotspot/search/text" data-transition="slide">
				Buscar punts per nom 
			</a>
		    </li>
		    <li>
			<a href="/news/list" data-transition="slide">
				Articles d'actualitat
			</a>
		    </li>
		    <li>
			<a href="/about" data-transition="slide">
				Quant a l'aplicació
			</a>
		    </li>
	</ul>
{% endblock %}
