{% extends "base.html" %}
{% block extrahead %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyiTY1E3SdsUfGCXYvFoGqMZmViU3K7So&sensor=false"></script>
  <link rel="stylesheet" href="/css/address.css" />
  <script type="text/javascript" src="/js/address.js"></script>
  <script type="text/javascript">
	ubicacio = { lat : {{article.lat}}, lng: {{article.long}}  };

  	$("a.tafanera.button").attr("href","http://latafanera.cat/submit.php?url="+url_to_share+"&title={{article.title}}" );
  	
  </script>
{% endblock %}
{% block content %}
<form>
	<h3>{{article.title}}</h3>
	<div class="containing-address">
		<span class="article_info">{{article.date}} - <span class="author">{{article.author}}</span></span>
		<select name="address" id="address" data-role="slider" data-mini="true" >
			<option value="off">Show Map</option>
			<option value="on">Hide Map</option>
		</select>
	</div>
	<div style="text-align: center;width: 100%;">
		<div id="map">&nbsp;</div>
	</div>
		
	<div data-role="fieldcontain">
			{{article.text}}
	</div>
	<div data-role="fieldcontain">
		{% if article.source %}
			<span style="font-weight: bold"> Font: </span>
			{% if article.source_type %}
				{% if article.source_type=="T" %} 
			   		{{article.source|safe}}
				{% elif article.source_type=="L" %} 
			   		<a href="{{article.source|safe}}" title="Enllaç a la font">{{article.source|safe}}</a>
				{% endif %}
			{% else %}
				{{article.source|safe}}
			{% endif%}
		{% endif %}
	</div>
		

	
</form>

<input type="hidden" id="id" value={{article.id}}/>
<input type="hidden" id="lat" value={{article.lat}} />
<input type="hidden" id="long" value={{article.long}}/>
{% endblock %}
{% block footer %}
      <div data-role="footer" class="_4buttons">
	<div data-role="controlgroup" data-type="horizontal" data-theme="a">
	  <a href="" data-role="button" data-iconpos="top" data-icon="twitter" class="tweet button" target="_blank">Tweet</a>
	  <a href="" data-role="button" data-iconpos="top" data-icon="facebook" class="fb button" target="_blank">Facebook share</a>
	  <a href="" data-role="button" data-iconpos="top" data-icon="googleplus" class="googleplus button" target="_blank">Google Plus +1</a>
	  <a href="" data-role="button" data-iconpos="top" data-icon="latafanera" class="tafanera button">La Tafanera</a>
	</div>
      </div>
{% endblock %}
