{% extends "base.html" %}
{% block extrahead %}{% endblock %}
{% block content %}

{% if results %}
    <ul data-role="listview" data-divider-theme="a" data-inset="true">
    <li data-role="list-divider" role="heading">
	Recent News Articles published :
    </li>
    {% for r in results %}
	<li>
	  <a href="/news/{{r.id}}/" data-transition="slide" data-ajax="false">
	    <h3>{{r.name}}</h3><p class="subheader">{{r.date}}</p>
	  </a>
	</li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}
{% block footer %}
      <div data-role="footer" class="_3buttons"  data-position="fixed">
	<div data-role="controlgroup" data-type="horizontal" data-theme="a">
	  <a href="" data-role="button" data-iconpos="top" data-icon="twitter" class="tweet button" target="_blank">Tweet</a>
	  <a href="" data-role="button" data-iconpos="top" data-icon="facebook" class="fb button" target="_blank">Facebook share</a>
	  <a href="" data-role="button" data-iconpos="top" data-icon="googleplus" class="googleplus button" target="_blank">Google Plus +1</a>
	</div>
      </div>
{% endblock %}