.containing-address div.ui-slider-switch { width: 7em; }
span.counter { font-size: 0.8em;}
		
span.address { top: -0.42em; position: relative; padding-right: 2em;}

div#map {
	border: 1px solid black;
	width: 90%;
	height: 20em;
	margin: auto;
	display: none;
}
