/*ul.ui-listview li.ui-btn div.ui-btn-inner div.ui-btn-text a.ui-link-inherit span.ui-li-aside*/
ul.ui-listview li p.subheader{
	font-style: italic;
	font-weight: normal;
	font-size: 0.8em;
}
div.img_header {
	width: 100%;
	height: 2em;
	/*background-image: none;*/
	background-image:url('/img/tira.header.jpg');
	background-size: auto 2em; /* width heigt*/
	background-repeat: repeat-x;
}
html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-header img{
    display: block;
    float: left;
    height: 2em;
    position: relative;
    top: -2.4em;
    left: 0.2em;
}

.ui-icon-twitter {
	background-image: url("/img/twitter.png");
}
.ui-icon-facebook {
	background-image: url("/img/facebooklike.png");
}
.ui-icon-googleplus {
	background-image: url("/img/gplus.png");
}
.ui-icon-latafanera {
	background-image: url("/img/latafanera.png");
}
html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer{
  border-top-width: 0px; border-bottom-width: 0px;
}

html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer._3buttons div.ui-corner-all div.ui-controlgroup-controls{
  /*padding-left: 8px;*/
}
html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer._3buttons div.ui-corner-all div.ui-controlgroup-controls a.ui-btn{
  width: 32.5%;
}
html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer._4buttons div.ui-corner-all div.ui-controlgroup-controls a.ui-btn{
  width: 24.2%;
}
html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer._5buttons div.ui-corner-all div.ui-controlgroup-controls a.ui-btn{
  width: 19.2%;
}
html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer div.ui-corner-all div.ui-controlgroup-controls{
  width: 100%;
}
html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer div.ui-corner-all div.ui-controlgroup-controls a.ui-btn span.ui-btn-inner{
  height: 4em;
}

html.ui-mobile body.ui-mobile-viewport div.ui-page div.ui-footer._5buttons div.ui-corner-all div.ui-controlgroup-controls a.ui-btn.thumb span.ui-btn-text{
 top: -1.5em
}
