{% extends "base.html" %}
{% block extrahead %}
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyiTY1E3SdsUfGCXYvFoGqMZmViU3K7So&sensor=false"></script>
  <link rel="stylesheet" href="/css/address.css" />
  <script type="text/javascript" src="/js/address.js"></script>
  <script type="text/javascript">
  	ubicacio = { lat : {{hotspot.lat}}, lng: {{hotspot.long}}  };
  </script>
  <script src="/js/hotspot.js"></script>
{% endblock %}
{% block content %}
    
<form>
	<h3>{{hotspot.name}}</h3>
	<div class="containing-address">
		<span class="address">{{hotspot.address}}</span>
		<select name="address" id="address" data-role="slider" data-mini="true" >
			<option value="off">Show Map</option>
			<option value="on">Hide Map</option>
		</select>
	</div>
	<div style="text-align: center;width: 100%;">
		<div id="map">&nbsp;</div>
	</div>
	
	<div data-role="fieldcontain">
			{{hotspot.description}}
	</div>	

	
</form>

<input type="hidden" id="id" value={{hotspot.id}}/>
<input type="hidden" id="lat" value={{hotspot.lat}} />
<input type="hidden" id="long" value={{hotspot.long}}/>

{% endblock %}
{% block footer %}
      <div data-role="footer" class="_5buttons">
	<div data-role="controlgroup" data-type="horizontal" data-theme="a">
	  <a class="tweet button" href="" data-role="button" data-iconpos="top" data-icon="twitter" class="tweet button" target="_blank">Tweet<br><span class="tweet counter" ></span></a>
	  <a class="fb button" href="" data-role="button" data-iconpos="top" data-icon="facebook" class="fb button" target="_blank">Facebook share<br><span class="fb counter" id="likes"></span></a>
	  <a class="googleplus button" href="" data-role="button" data-iconpos="top" data-icon="googleplus" class="googleplus button" target="_blank">Google Plus +1<br><span class="googleplus counter" id="pluses"></span></a>
	  <a class="thumb" href="" data-role="button" data-iconpos="top" onclick="thumbUp({{hotspot.id}}); return false;" rel="external"><img src="/img/thumb_up.png" ><br>Up<br><span class="counter" id="thumbUps">{{score.pos}}</span></a>
	  <a class="thumb" href="" data-role="button" data-iconpos="top" onclick="thumbDown({{hotspot.id}}); return false;" rel="external"><img src="/img/thumb_down.png" ><br>Down<br><span class="counter" id="thumbDowns">{{score.neg}}</span></a>
	</div>
      </div>
{% endblock %}
