{% extends "base.html" %}
{% block extrahead %}


{% endblock %}
{% block content %}
  <style>

    html.ui-mobile body.ui-mobile-viewport div#page1.ui-page div.ui-content {
	margin: 0;
	height: 85%;
	padding: 0 !important;
	position: absolute;
	width: 100%;
    }
    html.ui-mobile body.ui-mobile-viewport div#page1.ui-page div.ui-content div#map{    
	background-color: #00FF00;
	height: 100%;
	position: absolute;
	width: 100%;
	
    }

  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyiTY1E3SdsUfGCXYvFoGqMZmViU3K7So&sensor=true"></script>
  
  <script type="text/javascript">
  	{% if position %}
 		ubicacio = { lat: {{position.lat}} , lng: {{position.lng}} };
 	{% endif %}
  </script>
  <script src="/js/map.js"></script>
 
 <div id="map" >
  &nbsp;
 </div>

{% endblock %}
{% block footer %}
      <div data-role="footer" class="_3buttons"  data-position="fixed">
	<div data-role="controlgroup" data-type="horizontal" data-theme="a">
	  <a href="" data-role="button" data-iconpos="top" data-icon="twitter" class="tweet button" target="_blank">Tweet</a>
	  <a href="" data-role="button" data-iconpos="top" data-icon="facebook" class="fb button" target="_blank">Facebook share</a>
	  <a href="" data-role="button" data-iconpos="top" data-icon="googleplus" class="googleplus button" target="_blank">Google Plus +1</a>
	</div>
      </div>
{% endblock %}
